@model List<UserChatViewModel>

@foreach (var chat in Model)
{
    bool isToday = chat.LastMessageDate?.Date == DateTime.Today;
    string lastMessageDate = isToday ? chat.LastMessageDate?.ToString("HH:mm") : chat.LastMessageDate?.ToString("dd/MM/yyyy");

    <li class="d-flex justify-content-between align-items-center p-2" data-chat-id="@chat.Id" data-chat-name="@chat.Name">
        <div class="profile-image chat-sender-image-48px bg-warning text-dark">@chat.Name[..2].ToUpper()</div>
        <div class="ms-2">
            <div class="fw-bold">@chat.Name</div>
            <div class="text-muted small">@chat.LastMessage</div>
        </div>
        <sub class="ms-auto text-muted mt-1">@lastMessageDate</sub>
    </li>
}

